
@{
    Layout = null;
}

@*Rajor View Engine*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    @*Razor is intelligent when we write @ in email id it ignore don't need to use escape sequence*@

    <div><lable>my email address is:anweshadutta891@gmail.com</lable></div>

    @*Escape Sequence*@
    <div> 
        <lable>my twitter account-@@anwesha_kaushik</lable>
    </div>
</body>
</html>
